<div class="new-story">
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @story.date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @story.subject %>
</p>

<p>
  <strong>Note:</strong>
  <%= @story.note %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @story.comment %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
</div>
